<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" (click)="onSelect('1')">Llenar nuevo formulario</a>
      <a mat-list-item href="#" (click)="onSelect('2')">Editar formulario guardado</a>
      <a mat-list-item href="#" (click)="onSelect('3')">Enviar Formulario Finalizado</a>
      <a mat-list-item href="#" (click)="onSelect('4')">Ver Formularios Enviados</a>
      <a mat-list-item href="#" (click)="onSelect('5')">Obtener Formulario en Blanco</a>
      <a mat-list-item href="#" (click)="onSelect('6')">Borrar Formularios Guardados</a>
      <a mat-list-item routerLink="/signup">Registrarse</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Patowork</span>
    </mat-toolbar>

<ng-content>

</ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
