<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-sm-offset-1">
      <h1>Agregar nueva propiedad</h1>

      <div class="form-group">
        <label for="propertyType">Tipo de propiedad</label>
        <select name="propertyType" id="propertyType" class="form-control" ngModel>
          <option value="ground" [ngValue]="ground">Terreno</option>
          <option value="home" [ngValue]="home">Casa</option>
          <option value="departament" [ngValue]="departament">Departamento</option>
        </select>
      </div>

      <div class="form-group">
        <label for="street">Calle:</label>
        <input type="text" class="form-control" id="street" name="street" placeholder="Calle" ngModel required>
      </div>

      <div class="form-inline">
        <div class="form-group">
          <label for="externalNumber" class="mr-sm-2">No. ext.</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="externalNumber" name="externalNumber" maxlength="5"
            placeholder="Número exterior" ngModel>
        </div>
        <div class="form-group">
          <label for="zipCode" class="mr-sm-2"> CP</label>
          <input type="number" class="form-control mb-2 mr-sm-2" id="zipCode" name="zipCode" placeholder="Código postal"
            maxlength="5" ngModel required>
        </div>
      </div>

        <label >Tipo de transacción</label>
        <div>
          <label for="sell">
            <input type="radio" id="sell" name="transactionType" 
            ngModel="operationType"
              value="sell" 
              (change)="onItemChange('sell')"
              [checked] ="operationType == 'sell'" />
            Vender</label>
        </div>
        <div>
          <label for="rent">
            <input type="radio" id="rent" name="transactionType" ngModel="operationType" 
            value="rent"
            (change)="onItemChange('rent')" 
            [checked] ="operationType == 'rent'"/>
            Rentar</label>
        </div> 

      <div class="form-group">
        <label for="price">Precio</label>
        <input type="text" class="form-control" name="price" id="price" [ngModel]="price | currency:'USD'" required>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enviar</button>
    </div>
  </div>

</form>