@import url('https://js.arcgis.com/4.10/esri/css/main.css');

.esri-view {
  height: 100%;
  width: 100%;
  margin:0px;
  position: sticky; 
  padding: 0px;
min-height:500px;
min-width:300px;

}


@keyframes
       pulse
      {
        0%
        {
          opacity: 1.0;

        }
        45%
        {
          opacity: .20;

        }
        100%
        {
          opacity: 1.0;

        }
      }
     @-moz-keyframes
       pulse
      {
        0%
        {
          opacity: 1.0;
        }
        45%
        {
          opacity: .20;

        }
        100%
        {
          opacity: 1.0;
        }
      }

      #map_graphics_layer,graphic {
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: pulse;
        -moz-animation-duration: 2s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-name: pulse;
      }